<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DH lab demos
      </h1>
      <p class="subtitle">
        All the components a dh developer needs
      </p>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">

    <div class="columns">

      <div class="column is-half">
        <h2 class="title">
          Filters
        </h2>

        <app-filters [filters]="filters" (filterChange)="selectedFilters = $event"></app-filters>
      </div>
      <div class="column is-half">
        <h2 class="title">
          Selected Filters
        </h2>
        <div *ngFor="let selectedFilter of selectedFilters">
          {{selectedFilter | json}}
        </div>
      </div>
    </div>
  </div>
</div>

